<div class="box">
  <div class="left-panel">
    <div class="logo">
      TOAST
    </div>
  </div>

  <div class="right-panel">
    <%= image_tag("product_2.jpg", class: "product-image") %>

    <div class="product-information">
      <div class="name">
        OVERSIZED COTTON RAINCOAT
      </div>

      <div class="price">
        £145
      </div>

      <div class="description">
        Oversized, double-breasted, soft cotton twill raincoat with detachable hood, dropped shoulders and wide
      </div>

      <%= link_to "BUY NOW", "#", class: "buy-now" %>
    </div>
  </div>
</div>
