<div class="box">
  <%= link_to "CLOSE", "#", class: "close" %>

  <div class="left-panel">
    <div class="logo">
      TOAST
    </div>
  </div>

  <div class="right-panel">
    <%= image_tag("product_2.jpg", class: "product-image") %>

    <div class="product-information">
      <div class="name">
        OVERSIZED COTTON RAINCOAT
      </div>

      <div class="price">
        £145
      </div>

      <div class="description">
        Oversized, double-breasted, soft cotton twill raincoat with detachable hood, dropped shoulders and wide
      </div>

      <%= link_to "BUY NOW", "http://www.toast.co.uk/product/womens+coats+and+jackets/C0BAC/OVERSIZED+COTTON+ RAINCOAT.htm?categoryref=%2fcategory.aspx%3fcategoryid%3dwomens%2520coats%252 0and%2520jackets%26seoterm%3dcoats%2520and%2520jackets%26nav%3dwomen%26m enu&pcat=womens+coats+and+jackets&adimage=&clr=C0BAC_black", class: "buy-now", target: "blank" %>

      <div class="share">
        SHARE
        <img src="fb.png" 
             onmouseover="this.src='fb_hover.png';"
             onmouseout="this.src='fb.png';">

        <img src="tweet.png" 
             onmouseover="this.src='tweet_hover.png';"
             onmouseout="this.src='tweet.png';">
      </div>
    </div>
  </div>
</div>
