.box {
  width: 1024px;
  height: 576px;
  margin: 0 auto;
  /* background: yellow; */
}

.left-panel {
  width: 450px;
  height: 450px;
  position: relative;
  top: 44px;
  left: 44px;
  display: none;
  background: -moz-linear-gradient(-45deg,  rgba(182,156,202,1) 0%, rgba(59,27,5,0.62) 62%, rgba(59,27,5,0.4) 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(182,156,202,1)), color-stop(62%,rgba(59,27,5,0.62)), color-stop(99%,rgba(59,27,5,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(182,156,202,1) 0%,rgba(59,27,5,0.62) 62%,rgba(59,27,5,0.4) 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(182,156,202,1) 0%,rgba(59,27,5,0.62) 62%,rgba(59,27,5,0.4) 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(182,156,202,1) 0%,rgba(59,27,5,0.62) 62%,rgba(59,27,5,0.4) 99%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(182,156,202,1) 0%,rgba(59,27,5,0.62) 62%,rgba(59,27,5,0.4) 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b69cca', endColorstr='#663b1b05',GradientType=1  ); /* IE6-9 fallback on horizontal gradient */

}

.right-panel {
  width: 250px;
  height: 500px;
  /* background: pink; */
  position: relative;
  bottom: 350px;
  left: 600px;
  font-family: "Oswald";
  font-weight: 300;
  text-align: center;
  display: none;
}

.logo {
  transform: rotate(270deg);
  transform-origin: left bottom;
  position: relative;
  top: 60px;
  left: 50px;
  font-family: "Londrina Outline";
  font-size: 45px;
  display: none;
}

.product-image {
  max-height: 40%;
}

.description {
  display: block;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.buy-now {
  text-decoration: none;
  padding: 3px 65px;
  border: 1px solid black;
  color: #000;
}

.buy-now:hover {
  background: #000;
  color: white;
}

.close {
  font-family: "Oswald";
  font-weight: 300;
  font-size: 10px;
  position: relative;
  left: 850px;
  top: 55px;
  text-decoration: none;
  visibility: hidden;
  color: black;
}

.close:visited {
  color: #000;
}

.close:hover {
  color: #666666;
}


.share {
  margin-top: 20px;
  font-size: 10px;
  position: relative;
  right: 25px;
}

.share img {
  width: 3.5%;
}

.twitter_hidden, .facebook_hidden {
  display: none;
}
